.container {
  background-color: #000;
  padding: 15px 30px;
}

.navLinks {
  list-style-type: none;
  display: flex;
}

.navLinkItem {
  text-decoration: none;
}

.navLinkText {
  color: #fff;
  text-decoration: none;
  padding: 0px 10px;
}
